---
import Layout from '../../../layouts/Layout.astro';
---

<Layout>
  <section class="max-w-3xl mx-auto py-16 px-4 space-y-6 text-center">
    <h1 class="text-3xl font-bold">Massage Body</h1>
    <p class="text-lg">
      Massage complet du corps pour relâcher toutes les tensions et favoriser la détente.
    </p>
    <p class="text-lg">
      Une expérience à vivre!
    </p>
    <ul class="mx-auto w-fit text-lg space-y-2 text-left">
        <li class="flex items-start gap-2">
                <svg class="w-4 h-4 mt-1 text-primary" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 2C6 6 4 9 4 12a6 6 0 0012 0c0-3-2-6-6-10z"/>
                </svg>
            <span>180.- (120 minutes)</span>
        </li>
     </ul>
  </section>
</Layout>
