---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
  <section class="max-w-3xl mx-auto py-16 px-4 space-y-6 text-center">

    <h1 class="text-3xl font-bold">Soins énergétiques</h1>

    <p class="text-lg">
      Ce soin vise à rééquilibrer les énergies du corps, à apaiser les tensions physiques, émotionnelles ou mentales et à favoriser une circulation plus fluide. En cas de maux spécifiques, il peut être un bon complément pour favoriser la guérison. Il apporte aussi un réel soutien dans les moments où l'on traverse des bouleversements intérieurs : fatigue profonde, émotions envahissantes, anxiété ou sentiment de déséquilibre. Il aide à retrouver ancrage, clarté et apaisement. C’est un soin qui peut se faire à distance et qui fonctionne aussi très bien pour les enfants (sommeil, peurs, douleurs, maladies, bobos…). 
    </p>
    <p class="text-lg">
      Possibilité de soins à distance.
    </p>

    <!-- Logo + Tarif -->
    <ul class="mx-auto w-fit text-lg space-y-6 mt-8 text-center">

      <li class="flex flex-col items-center gap-4">
        <!-- Logo -->
        <img 
          src="/assets/logo.png" 
          alt="Soins énergétiques Logo" 
          class="max-w-[250px] w-full h-auto transition-transform duration-300 hover:-translate-y-1 hover:shadow-lg" 
        />
        <!-- Tarif -->
        <span class="text-lg font-medium">80.- (60 minutes)</span>
      </li>

    </ul>

  </section>
</Layout>
