---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="flex flex-col items-center justify-center text-center py-32 space-y-6">

    <h1 class="text-5xl font-bold">
      Bienvenue chez Lihé
    </h1>
	<br>
    <!-- Titre 2 -->
    <h2 class="text-2xl font-semibold text-textmain">
      Bienveillance – Présence – Connexion <br>
	  Au cœur de mes soins et ateliers
    </h2>

    <p class="max-w-xl text-lg">
      
    </p>

	 <p class="max-w-xl text-lg">
      Teste mes soins pour te retrouver, te sentir écouté(e), prendre soin de ton être en toute détente.
      Les soins énergétiques sont possibles pour enfants de tout âge et adultes.
      Pour les enfants, des ateliers seront proposés au fur et à mesure,
      tiens-toi informé(e) sous l’onglet <strong>Ateliers enfants</strong> ou sur ma page Instagram.
    </p>


  </section>
</Layout>
